*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    user-select: none;
}
.container > p{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
button{
    outline: none;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #9500ff, #c778ff);
}
.container .logo_main{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
}
.container .start_btn{
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .start_btn button{
    width: 160px;
    height: 70px;
    font-size: 22px;
    border-radius: 2vh;
    border: none;
    box-shadow: 2px 2px 30px 2px #ecf0f1;
    transition: all .2s;
}
.container .start_btn button:hover{
    background: #bdc3c7;
}
.container .start_btn button:active{
    width: 140px;
    height: 60px;
    font-size: 20px;
}
button{
    cursor: pointer;
}
.container .intro_vid_play{
    width: 100%;
    height: 100%;
}
.container .intro_vid_play video{
    width: 100%;
    height: 100%;
    display: none;
}
.game{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #6f00ff;
}
.container .game .money_tier{
    position: absolute;
    right: 0px;
    top: 0;
    height: 100vh;
}
.money_tier ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
.money_tier ul li{
    background: #FFD700;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-family: Cambria Math;
    border-radius: 100vh;
    box-shadow: 2px 2px 4px 2px #FFD700;
}
.money_tier ul li:nth-child(5n + 1){
    background: #4cd137;
    box-shadow: 2px 2px 4px 2px #4cd137;
}
.container .game .questionnaire{
    position: absolute;
    left: 50%;
    bottom: 60px;
    width: 80vw;
    height: auto;
    display: grid;
    transform: translate(-50%);
    grid-template-rows: 75px repeat(2, 50px);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
.container .game .questionnaire h1{
    grid-column-start: 1;
    grid-column-end: 3;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100vh;
    border: 2px solid #FFD700;
    font-size: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
}
.container .game .questionnaire button{
    min-height: 50px;
    max-height: auto;
    background: blue;
    font-size: 30px;
    border-radius: 100vh;
    border: 2px solid #FFD700;
}
.container .game .questionnaire button.correct_ans{
    transition: background 2s;
    background: green;
}
.container .game .questionnaire button.wrong_ans{
    transition: background 2s;
    background: red;
}
.container .game .questionnaire button.disabled{
    pointer-events: none;
}
.container .game .next_btn{
    position: absolute;
    bottom: 5px;
    left: 76vw;
    width: 100px;
    height: 50px;
}
.container .game .next_btn button{
    width: 100%;
    height: 100%;
    background: #00a8ff;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    transition: all .3s;
    display: none;
}
.container .game .next_btn button:hover{
    background: #0097e6;
}
.container .game .timer{
    position: absolute;
    left: 50%;
    bottom: 235px;
    background: red;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    transform: translate(-50%);
    font-size: 3rem;
    border-radius: 100%;
    border: 2px solid #FFD700;
}

.container .game .time_line{
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
}
.container .prize_info{
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    z-index: 10;
    display: none;
}
.container .prize_info svg{
    margin: 0;
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%);
}
.container .prize_info p{
    font-size: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    line-height: 45px;
    transform: translate(-50%,-50%);
}
.container .prize_info button{
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: 0.5px solid black;
    font-size: 30px;
    transition: background .2s;
}
.container .prize_info .quit{
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-50%);
    background: #ff4d4d;
}
.container .prize_info .quit:hover{
    background: #c0392b;
}
.container .prize_info .play_again{
    position: absolute;
    top: 75%;
    left: 55%;
    background: #00a8ff;
    font-size: 25px;
}
.container .prize_info .play_again:hover{ 
background: #2980b9;
}







@media screen and (max-width: 1300px) {
    .container .prize_info p{
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .container .game .questionnaire{
        left: 45%;
    }
    .container .prize_info p{
        font-size: 30px;
    }
    .container .game .questionnaire h1{
        font-size: 18px;
    }
}
@media screen and (max-width: 990px) {
    .container .game .next_btn{
        left: 70%;
    }
}
@media screen and (max-width: 740px) {
    .container .game .next_btn{
        left: 60%;
    }
}
@media screen and (max-width: 790px) {
    .container .game .questionnaire{
        left: 43%;
    }
    .container .game .questionnaire button{
        font-size: 20px;
    }
    .container .prize_info p{
        line-height: 30px;
    }
    .container .game .questionnaire{
        grid-template-rows: 90px repeat(2, 60px);
    }
    .timer{
        top: 43%;
    }
}

@media screen and (max-width: 680px) {
    .container .game .questionnaire{
        left: 42%;
    }
}

@media screen and (max-width: 580px) {
   
    .container .game .questionnaire button{
        font-size: 18px;
    }
    
}
@media screen and (max-width: 550px) {
    .container .game .next_btn{
        left: 50%;
    }
    
}
@media screen and (max-width: 480px) {
    .container .logo_main{
        left: 40%;
    }
    .container .game .questionnaire{
        left: 50%;
        width: 100%;
    }
    .container .game .questionnaire button{
        font-size: 18px;
    }
    .container .game .money_tier{
        height: 50%;
        overflow: auto;
    }
    
}
@media screen and (max-height: 640px) {
    .container .start_btn{
        top: 60%;
    }
}
@media screen and (max-width: 440px) {
    .container .logo_main{
        left: 60%;
        width: 400px;
    }
    .container .game .next_btn{
        left: 40%;
    }
    
}
@media screen and (max-height: 490px) {
    .container .start_btn{
        top: 70%;
    }
}